#menu{
	list-style-type: none;
}
#menu a{
	text-align: center;
	font-size: 1.8em;
	display: block;
	width: 200px;
	height: 50px;
	color: #000;
}
#menu a:hover, #menu a:active, #menu a:focus{
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
#search_div{
	position: relative;
}
#search_list{
	position: absolute;
	z-index: 10000;
	background-color: #fff;
	list-style-type: none;
	text-indent: -35px;
}